<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="categories_post">
					<img src="assets/img/blog/cat-post/cat-post-3.jpg" alt="post">
					<div class="categories_details">
						<div class="categories_text">
							<a href="blog-details.html"><h5>Vida Social</h5></a>
							<div class="border_line"></div>
							<p>Disfrutar cada momento</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="categories_post">
					<img src="assets/img/blog/cat-post/cat-post-2.jpg" alt="post">
					<div class="categories_details">
						<div class="categories_text">
							<a href="blog-details.html"><h5>Viajes</h5></a>
							<div class="border_line"></div>
							<p>Viaja y vive la experiencia</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="categories_post">
					<img src="assets/img/blog/cat-post/cat-post-1.jpg" alt="post">
					<div class="categories_details">
						<div class="categories_text">
							<a href="blog-details.html"><h5>Deportes Extremos</h5></a>
							<div class="border_line"></div>
							<p>Rápido pero Seguro</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================Blog Categorie Area =================-->