<section class="myinsterests_b p_120" id="interests">
	<div class="container">
		<div class="main_title">
			<h2 class="text-white">Intereses</h2>
			<p class="text-white">Además de ser desarrollador web, disfruto la mayor parte de mi tiempo al aire libre. me gusta mucho de caminar en la montaña, hacer un deporte extremo y de conocer un nuevo lugar.</p>
		</div>
		
	</div>
	<div class="container">
		<div class="gallery_f_inner row imageGallery1">
			<div class="col-lg-4 col-md-4 col-sm-6 api creative">
				<!-- Card -->
				<div class="card mb-3">
					<!-- Card image -->
					<img class="card-img-top" src="assets/img/insterests/1.jpg" alt="Card image cap">

					<!-- Card content -->
					<div class="card-body">

						<!-- Title -->
						<h4 class="card-title"><a>Desarrollar Software</a></h4>
						<!-- Text -->
						<p class="card-text">Automatizar procesos manuales en sistema para dar solucion y mejorar los procesos finales en un servicio y/o producto.</p>
					</div>
				</div>
				<!-- Card -->
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 api creative">
				<!-- Card -->
				<div class="card mb-3">
					<!-- Card image -->
					<img class="card-img-top" src="assets/img/insterests/2.jpg" alt="Card image cap">

					<!-- Card content -->
					<div class="card-body">

						<!-- Title -->
						<h4 class="card-title"><a>Viajar</a></h4>
						<!-- Text -->
						<p class="card-text">Nuevas experiencias a los nuevos destinos es una pasión, apreciar que lo hay mas allá de la ciudad me atrae mucho.</p>
					</div>
				</div>
				<!-- Card -->
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 api creative">
				<!-- Card -->
				<div class="card">
					<!-- Card image -->
					<img class="card-img-top" src="assets/img/insterests/3.jpg" alt="Card image cap">

					<!-- Card content -->
					<div class="card-body">

						<!-- Title -->
						<h4 class="card-title"><a>Fotografiar</a></h4>
						<!-- Text -->
						<p class="card-text">Captar grandes momentos memorables y voler a vivir ese pasado a travez de una foto, ese recuerdo único.</p>
					</div>
				</div>
				<!-- Card -->
			</div>
		</div>
	</div>
</section>