<section class="home_gallery_area p_120" id="proyectos">
	<div class="container">
		<div class="main_title">
			<h2>Últimos Proyectos</h2>
			<p>Sistema amigable y funcional</p>
		</div>
		<div class="isotope_fillter">
			<ul class="gallery_filter list">
				<li class="active" data-filter="*"><a href="#">Todos</a></li>
				<li data-filter=".api"><a href="#">Api</a></li>
				<li data-filter=".app"><a href="#">App Web</a></li>
				<li data-filter=".design"><a href="#">Mobile</a></li>
				<li data-filter=".creative"><a href="#">UI/UX</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="gallery_f_inner row imageGallery1">
			
			<div class="col-lg-4 col-md-4 col-sm-6 api creative">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img class="img-fluid" src="assets/img/gallery/project-7.jpg" alt="">
						<a class="light" href="assets/img/gallery/zoom/project-7.jpg"><img src="assets/img/gallery/icon.png" alt=""></a>
					</div>
					<div class="g_item_text">
						<a href="http://trekking-adventure.surge.sh/" target="_blank"><h4>Buscar Película</h4></a>
						<p>2020</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 creative">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img class="img-fluid" src="assets/img/gallery/project-9.jpg" alt="">
						<a class="light" href="assets/img/gallery/zoom/project-9.jpg"><img src="assets/img/gallery/icon.png" alt=""></a>
					</div>
					<div class="g_item_text">
						<a href="https://rolando167.github.io/blog.html" target="_blank"><h4>Blog</h4></a>
						<p>2020</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6 creative">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img class="img-fluid" src="assets/img/gallery/project-5.jpg" alt="">
						<a class="light" href="assets/img/gallery/zoom/project-5.jpg"><img src="assets/img/gallery/icon.png" alt=""></a>
					</div>
					<div class="g_item_text">
						<a href="http://bienvenidostutos.herokuapp.com/" target="_blank"><h4>Web - Node JS</h4></a>
						<p>2020</p>
					</div>
				</div>
			</div>

			

			<div class="col-lg-4 col-md-4 col-sm-6 creative">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img class="img-fluid" src="assets/img/gallery/project-1.jpg" alt="">
						<a class="light" href="assets/img/gallery/zoom/project-1.jpg"><img src="assets/img/gallery/icon.png" alt=""></a>
					</div>
					<div class="g_item_text">
						<a href="https://rolando167.github.io/webSiteReflexion/" target="_blank"><h4>Web Site - Perú</h4></a>
						<p>2020</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6 api">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img class="img-fluid" src="assets/img/gallery/project-3.jpg" alt="">
						<a class="light" href="assets/img/gallery/zoom/project-3.jpg"><img src="assets/img/gallery/icon.png" alt=""></a>
					</div>
					<div class="g_item_text">
						<a href="https://rolando167.github.io/reactWeather/" target="_blank"><h4>Clima</h4></a>
						<p>2020</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6 creative">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img class="img-fluid" src="assets/img/gallery/project-2.jpg" alt="">
						<a class="light" href="assets/img/gallery/zoom/project-2.jpg"><img src="assets/img/gallery/icon.png" alt=""></a>
					</div>
					<div class="g_item_text">
						<a href="https://rolando167.github.io/WorkSiteTeam/" target="_blank"><h4>Work Site Team</h4></a>
						<p>2020</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6 api">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img class="img-fluid" src="assets/img/gallery/project-4.jpg" alt="">
						<a class="light" href="assets/img/gallery/zoom/project-4.jpg"><img src="assets/img/gallery/icon.png" alt=""></a>
					</div>
					<div class="g_item_text">
						<a href="https://rolando167.github.io/reactPokemon/" target="_blank"><h4>Poke Api</h4></a>
						<p>2020</p>
					</div>
				</div>
			</div>
		</div>
		<div class="more_btn">
			<a class="main_btn" href="#">Cargar más Items</a>
		</div>
	</div>
</section>