<section class="feature_area p_120">
	<div class="container">
		<div class="main_title">
			<h2>Servicios</h2>
			<p>Analizar situaciones e implementar mejoras de procesos con una herramienta de software</p>
		</div>
		<div class="feature_inner row">
			<div class="col-lg-4 col-md-6">
				<div class="feature_item">
					<i class="flaticon-city"></i>
					<h4>Desarrollo Web</h4>
					<p>Frontend y Backed, Implementación de un sistema para la automatización de procesos.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature_item">
					<i class="flaticon-skyline"></i>
					<h4>Arquitectura web</h4>
					<p>Buenas prácticas y modelamiento de datos, con total seguridad y respaldos. <br>  </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature_item">
					<i class="flaticon-sketch"></i>
					<h4>Diseño web</h4>
					<p>Conceptos UX/UI, mejora en al experiencia de usuario del sistema.  <br> </p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Feature Area =================-->