<section class="feature_area p_120" id="interests">
	<div class="container">
		<div class="main_title">
			<h2>Habilidades</h2>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="wel_item">
					<i class="lnr lnr-users"></i>
					<p>Git</p>
				</div>
			</div>
			<div class="col-md-2">
				<div class="wel_item">
					<i class="lnr lnr-database"></i>
					<p>Base de Datos</p>
				</div>
			</div>
			<div class="col-md-2">
				<div class="wel_item">
					<i class="lnr lnr-laptop"></i>
					<p>Programación</p>
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="wel_item">
					<i class="lnr lnr-book"></i>
					<p>FrontEnd</p>
				</div>
			</div>
			<div class="col-md-2">
				<div class="wel_item">
					<i class="lnr lnr-layers"></i>
					<p>BackEnd</p>
				</div>
			</div>
			<div class="col-md-2">
				<div class="wel_item">
					<i class="lnr lnr-apartment"></i>
					<p>React</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Welcome Area =================-->